body{
    width: calc(100% - 100px);
border:1px solid black;
}

#breakfast{
color: red;

}
#lunch{
color: rgba(255
, 0, 100, 1.0);


}
#dinner, li > :first-child{
    color: rgb(57, 33, 141);
    

}
li > :first-child{
    color: red;
}
a:hover{
   color: blue; 
}
a:focus{
    color: red;
}
p{
    background-color: rgba(purple, green, blue, alpha);
}
article{
 background-color: hsla(
     hue, saturation, lightness, alpha);
}
